# TCM Final Project - Heather and Allen
## Analyzing different cryptocurrencies and their changes over time

final project description woo

Hypothesis yeet

~adapted from another project's structure, fix later for our specific project
# Table of Contents

### I. Introduction & Cleaning

    a. Importing Datasets
    b. Cleaning Individual Datasets  to Prepare for Appending
    c. Appending and Cleaning the Dataframe
    d. Pivoting the Dataframe
    e. Removing Single Observation Firms

### II. Framing our Analysis 

    a. Narrowing Down the Data

### III. Question 1

    a. Data
    b. Outliers
    c. Analysis
    d. Conclusion

### IV. Question 2

    a. Data
    b. Outliers
    c. Analysis
    d. Conclusion
    
### V. Time Series
    a. Importing New Datasets
    b. Cleaning
    c. Appending Time Series Data
    d. Combining all the Data
    e. Isolating Industries

### VI. Question 3

    a. Data
    b. Conclusion & Analysis

### VII. Question 4

    a. Data
    b. Conclusion & Analysis

### VIII. Conclusion

# 1. Import and Clean Data

In [9]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

from datetime import datetime

In [21]:
#importing Cyrptocurrency data

bitcoin = pd.read_csv('coin_Bitcoin.csv')

ether = pd.read_csv('coin_Ethereum.csv')

dogecoin = pd.read_csv('coin_Dogecoin.csv')

In [10]:
bitcoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2862 entries, 0 to 2861
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2862 non-null   int64
 1   Name       2862 non-null   object
 2   Symbol     2862 non-null   object
 3   Date       2862 non-null   object
 4   High       2862 non-null   float64
 5   Low        2862 non-null   float64
 6   Open       2862 non-null   float64
 7   Close      2862 non-null   float64
 8   Volume     2862 non-null   float64
 9   Marketcap  2862 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 223.7+ KB

In [11]:
bitcoin.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

In [26]:
ether.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Ethereum,ETH,2015-08-08,2.798810,0.714725,2.793760,0.753325,674188.0,4.548689e+07
1,2,Ethereum,ETH,2015-08-09,0.879810,0.629191,0.706136,0.701897,532170.0,4.239957e+07
2,3,Ethereum,ETH,2015-08-10,0.729854,0.636546,0.713989,0.708448,405283.0,4.281836e+07
3,4,Ethereum,ETH,2015-08-11,1.131410,0.663235,0.708087,1.067860,1463100.0,6.456929e+07
4,5,Ethereum,ETH,2015-08-12,1.289940,0.883608,1.058750,1.217440,2150620.0,7.364501e+07

In [27]:
dogecoin.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Dogecoin,DOGE,2013-12-16,0.000866,0.000150,0.000299,0.000205,0.0,1.509085e+06
1,2,Dogecoin,DOGE,2013-12-17,0.000289,0.000116,0.000207,0.000269,0.0,2.169688e+06
2,3,Dogecoin,DOGE,2013-12-18,0.000362,0.000205,0.000267,0.000362,0.0,3.188943e+06
3,4,Dogecoin,DOGE,2013-12-19,0.001520,0.000328,0.000395,0.001162,0.0,1.115034e+07
4,5,Dogecoin,DOGE,2013-12-20,0.001143,0.000662,0.001143,0.000704,0.0,7.284337e+06

In [12]:
bitcoin.tail()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
2857,2858,Bitcoin,BTC,2021-02-23 23:59:59,54204.929756,45290.590268,54204.929756,48824.426869,1.061025e+11,9.099259e+11
2858,2859,Bitcoin,BTC,2021-02-24 23:59:59,51290.136695,47213.498162,48835.087661,49705.333316,6.369552e+10,9.263931e+11
2859,2860,Bitcoin,BTC,2021-02-25 23:59:59,51948.966982,47093.853019,49709.082425,47093.853019,5.450657e+10,8.777661e+11
2860,2861,Bitcoin,BTC,2021-02-26 23:59:59,48370.785260,44454.842114,47180.464054,46339.760083,3.509679e+11,8.637523e+11
2861,2862,Bitcoin,BTC,2021-02-27 23:59:59,48253.270101,45269.025766,46344.772237,46188.451275,4.591095e+10,8.609781e+11

In [23]:
#change to datetype
bitcoin['Date'] = bitcoin['Date'].astype(str)
ether['Date'] = ether['Date'].astype(str)
dogecoin['Date'] = dogecoin['Date'].astype(str)

bitcoin['Date'] = bitcoin['Date'].str.replace(pat = ' 23:59:59', repl ='')
ether['Date'] = ether['Date'].str.replace(pat = ' 23:59:59', repl ='')
dogecoin['Date'] = dogecoin['Date'] .str.replace(pat = ' 23:59:59', repl ='')

bitcoin['Date'] = pd.to_datetime(bitcoin['Date'], infer_datetime_format=True, format= '%Y%m%d')
ether['Date'] = pd.to_datetime(ether['Date'], infer_datetime_format=True, format= '%Y%m%d')
dogecoin['Date'] = pd.to_datetime(dogecoin['Date'], infer_datetime_format=True, format= '%Y%m%d')

#removing

In [24]:
bitcoin.dtypes

SNo                   int64
Name                 object
Symbol               object
Date         datetime64[ns]
High                float64
Low                 float64
Open                float64
Close               float64
Volume              float64
Marketcap           float64
dtype: object

In [30]:
#keeping only 2016-2021 data, so all datasets match
bitcoin = bitcoin.loc[(bitcoin["Date"] >= '2016-01-01')]
ether = ether.loc[(ether["Date"] >= '2016-01-01')]
dogecoin = dogecoin.loc[(dogecoin["Date"] >= '2016-01-01')]

In [31]:
bitcoin['DailyChange'] = (bitcoin['Open'] - bitcoin['Close'])/bitcoin['Open']

In [37]:
bitcoin['DailyChange'].describe()

count    1885.000000
mean       -0.003189
std         0.039587
min        -0.254702
25%        -0.017773
50%        -0.002193
75%         0.011406
max         0.371869
Name: DailyChange, dtype: float64

# 2. Initial Descriptive Statistics