# TCM Final Project - Heather and Allen
## Analyzing different cryptocurrencies and their changes over time

final project description woo

We believe that certain market conditions have correlations with bitcoin increases

~adapted from another project's structure, fix later for our specific project
# Table of Contents

### I. Introduction & Cleaning

    a. Importing Datasets
    b. Cleaning Individual Datasets  to Prepare for Appending
    c. Appending and Cleaning the Dataframe
    d. Pivoting the Dataframe
    e. Removing Single Observation Firms

### II. Framing our Analysis 

    a. Narrowing Down the Data

### III. Question 1

    a. Data
    b. Outliers
    c. Analysis
    d. Conclusion

### IV. Question 2

    a. Data
    b. Outliers
    c. Analysis
    d. Conclusion
    
### V. Time Series
    a. Importing New Datasets
    b. Cleaning
    c. Appending Time Series Data
    d. Combining all the Data
    e. Isolating Industries

### VI. Question 3

    a. Data
    b. Conclusion & Analysis

### VII. Question 4

    a. Data
    b. Conclusion & Analysis

### VIII. Conclusion

# 1. Import and Clean Data

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

from datetime import datetime

In [3]:
#importing Cyrptocurrency data

bitcoin = pd.read_csv('coin_Bitcoin.csv')

ether = pd.read_csv('coin_Ethereum.csv')

dogecoin = pd.read_csv('coin_Dogecoin.csv')

In [4]:
bitcoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2862 entries, 0 to 2861
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2862 non-null   int64
 1   Name       2862 non-null   object
 2   Symbol     2862 non-null   object
 3   Date       2862 non-null   object
 4   High       2862 non-null   float64
 5   Low        2862 non-null   float64
 6   Open       2862 non-null   float64
 7   Close      2862 non-null   float64
 8   Volume     2862 non-null   float64
 9   Marketcap  2862 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 223.7+ KB

In [5]:
bitcoin.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

In [6]:
ether.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Ethereum,ETH,2015-08-08 23:59:59,2.798810,0.714725,2.793760,0.753325,674188.0,4.548689e+07
1,2,Ethereum,ETH,2015-08-09 23:59:59,0.879810,0.629191,0.706136,0.701897,532170.0,4.239957e+07
2,3,Ethereum,ETH,2015-08-10 23:59:59,0.729854,0.636546,0.713989,0.708448,405283.0,4.281836e+07
3,4,Ethereum,ETH,2015-08-11 23:59:59,1.131410,0.663235,0.708087,1.067860,1463100.0,6.456929e+07
4,5,Ethereum,ETH,2015-08-12 23:59:59,1.289940,0.883608,1.058750,1.217440,2150620.0,7.364501e+07

In [7]:
dogecoin.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Dogecoin,DOGE,2013-12-16 23:59:59,0.000866,0.000150,0.000299,0.000205,0.0,1.509085e+06
1,2,Dogecoin,DOGE,2013-12-17 23:59:59,0.000289,0.000116,0.000207,0.000269,0.0,2.169688e+06
2,3,Dogecoin,DOGE,2013-12-18 23:59:59,0.000362,0.000205,0.000267,0.000362,0.0,3.188943e+06
3,4,Dogecoin,DOGE,2013-12-19 23:59:59,0.001520,0.000328,0.000395,0.001162,0.0,1.115034e+07
4,5,Dogecoin,DOGE,2013-12-20 23:59:59,0.001143,0.000662,0.001143,0.000704,0.0,7.284337e+06

In [8]:
bitcoin.tail()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
2857,2858,Bitcoin,BTC,2021-02-23 23:59:59,54204.929756,45290.590268,54204.929756,48824.426869,1.061025e+11,9.099259e+11
2858,2859,Bitcoin,BTC,2021-02-24 23:59:59,51290.136695,47213.498162,48835.087661,49705.333316,6.369552e+10,9.263931e+11
2859,2860,Bitcoin,BTC,2021-02-25 23:59:59,51948.966982,47093.853019,49709.082425,47093.853019,5.450657e+10,8.777661e+11
2860,2861,Bitcoin,BTC,2021-02-26 23:59:59,48370.785260,44454.842114,47180.464054,46339.760083,3.509679e+11,8.637523e+11
2861,2862,Bitcoin,BTC,2021-02-27 23:59:59,48253.270101,45269.025766,46344.772237,46188.451275,4.591095e+10,8.609781e+11

In [9]:
#change to datetype
bitcoin['Date'] = bitcoin['Date'].astype(str)
ether['Date'] = ether['Date'].astype(str)
dogecoin['Date'] = dogecoin['Date'].astype(str)

bitcoin['Date'] = bitcoin['Date'].str.replace(pat = ' 23:59:59', repl ='')
ether['Date'] = ether['Date'].str.replace(pat = ' 23:59:59', repl ='')
dogecoin['Date'] = dogecoin['Date'] .str.replace(pat = ' 23:59:59', repl ='')

bitcoin['Date'] = pd.to_datetime(bitcoin['Date'], infer_datetime_format=True, format= '%Y%m%d')
ether['Date'] = pd.to_datetime(ether['Date'], infer_datetime_format=True, format= '%Y%m%d')
dogecoin['Date'] = pd.to_datetime(dogecoin['Date'], infer_datetime_format=True, format= '%Y%m%d')

#removing

In [10]:
# removing SNo column
ether = ether.drop(['SNo'], axis = 1)
ether

,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,Ethereum,ETH,2015-08-08,2.798810,0.714725,2.793760,0.753325,6.741880e+05,4.548689e+07
1,Ethereum,ETH,2015-08-09,0.879810,0.629191,0.706136,0.701897,5.321700e+05,4.239957e+07
2,Ethereum,ETH,2015-08-10,0.729854,0.636546,0.713989,0.708448,4.052830e+05,4.281836e+07
3,Ethereum,ETH,2015-08-11,1.131410,0.663235,0.708087,1.067860,1.463100e+06,6.456929e+07
4,Ethereum,ETH,2015-08-12,1.289940,0.883608,1.058750,1.217440,2.150620e+06,7.364501e+07
...,...,...,...,...,...,...,...,...,...
2026,Ethereum,ETH,2021-02-23,1781.409018,1378.840907,1781.409018,1570.203925,5.202986e+10,1.802510e+11
2027,Ethereum,ETH,2021-02-24,1710.983795,1511.018963,1571.476497,1626.575705,3.132900e+10,1.867440e+11
2028,Ethereum,ETH,2021-02-25,1670.224062,1465.058946,1625.393882,1475.703735,2.448168e+10,1.694427e+11
2029,Ethereum,ETH,2021-02-26,1559.028891,1407.979253,1478.653270,1446.033650,3.143600e+10,1.660555e+11
2030,Ethereum,ETH,2021-02-27,1524.932428,1433.786929,1446.929455,1459.973121,2.074210e+10,1.676759e+11

In [11]:
# removing SNo column
bitcoin = bitcoin.drop(['SNo'], axis=1)
bitcoin

,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,Bitcoin,BTC,2013-04-29,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,Bitcoin,BTC,2013-04-30,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,Bitcoin,BTC,2013-05-01,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,Bitcoin,BTC,2013-05-02,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,Bitcoin,BTC,2013-05-03,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...,...
2857,Bitcoin,BTC,2021-02-23,54204.929756,45290.590268,54204.929756,48824.426869,1.061025e+11,9.099259e+11
2858,Bitcoin,BTC,2021-02-24,51290.136695,47213.498162,48835.087661,49705.333316,6.369552e+10,9.263931e+11
2859,Bitcoin,BTC,2021-02-25,51948.966982,47093.853019,49709.082425,47093.853019,5.450657e+10,8.777661e+11
2860,Bitcoin,BTC,2021-02-26,48370.785260,44454.842114,47180.464054,46339.760083,3.509679e+11,8.637523e+11
2861,Bitcoin,BTC,2021-02-27,48253.270101,45269.025766,46344.772237,46188.451275,4.591095e+10,8.609781e+11

In [12]:
# removing SNo column
dogecoin = dogecoin.drop(['SNo'], axis=1)
dogecoin

,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,Dogecoin,DOGE,2013-12-16,0.000866,0.000150,0.000299,0.000205,0.000000e+00,1.509085e+06
1,Dogecoin,DOGE,2013-12-17,0.000289,0.000116,0.000207,0.000269,0.000000e+00,2.169688e+06
2,Dogecoin,DOGE,2013-12-18,0.000362,0.000205,0.000267,0.000362,0.000000e+00,3.188943e+06
3,Dogecoin,DOGE,2013-12-19,0.001520,0.000328,0.000395,0.001162,0.000000e+00,1.115034e+07
4,Dogecoin,DOGE,2013-12-20,0.001143,0.000662,0.001143,0.000704,0.000000e+00,7.284337e+06
...,...,...,...,...,...,...,...,...,...
2626,Dogecoin,DOGE,2021-02-23,0.053768,0.042410,0.053698,0.047392,2.394345e+09,6.089686e+09
2627,Dogecoin,DOGE,2021-02-24,0.059873,0.046216,0.047414,0.056555,4.148512e+09,7.267918e+09
2628,Dogecoin,DOGE,2021-02-25,0.057808,0.049869,0.056615,0.050167,2.356982e+09,6.447665e+09
2629,Dogecoin,DOGE,2021-02-26,0.052472,0.048708,0.050138,0.050480,1.694323e+09,6.488523e+09
2630,Dogecoin,DOGE,2021-02-27,0.051920,0.049297,0.050500,0.050083,1.286230e+09,6.438193e+09

In [13]:
bitcoin.dtypes

Name                 object
Symbol               object
Date         datetime64[ns]
High                float64
Low                 float64
Open                float64
Close               float64
Volume              float64
Marketcap           float64
dtype: object

In [14]:
#keeping only 2016-2021 data, so all datasets match
bitcoin = bitcoin.loc[(bitcoin["Date"] >= '2016-01-01')]
ether = ether.loc[(ether["Date"] >= '2016-01-01')]
dogecoin = dogecoin.loc[(dogecoin["Date"] >= '2016-01-01')]

In [15]:
#create a new column called DailyChange, which is equal to th
bitcoin['DailyChange'] = (bitcoin['Open'] - bitcoin['Close'])/bitcoin['Open']

<ipython-input-15-d94b5f9988f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoin['DailyChange'] = (bitcoin['Open'] - bitcoin['Close'])/bitcoin['Open']

In [16]:
bitcoin['DailyChange'].describe()

count    1885.000000
mean       -0.003189
std         0.039587
min        -0.254702
25%        -0.017773
50%        -0.002193
75%         0.011406
max         0.371869
Name: DailyChange, dtype: float64

# 2. Initial Descriptive Statistics

In [17]:
#looking at descriptive statistics for bitcoin
bitcoin_descriptive = bitcoin.describe()
bitcoin_descriptive

,High,Low,Open,Close,Volume,Marketcap,DailyChange
count,1885.000000,1885.000000,1885.000000,1885.000000,1.885000e+03,1.885000e+03,1885.000000
mean,7358.253550,6945.864419,7154.465081,7178.293168,1.362054e+10,1.279721e+11,-0.003189
std,7860.880297,7254.949114,7565.134498,7615.710347,1.882449e+10,1.413577e+11,0.039587
min,374.950012,354.914001,365.072998,364.330994,2.851400e+07,5.496598e+09,-0.254702
25%,1251.609985,1215.560059,1231.920044,1231.920044,4.227060e+08,2.006275e+10,-0.017773
50%,6617.350000,6433.870117,6510.069824,6517.180000,5.639320e+09,1.126373e+11,-0.002193
75%,9540.465393,9231.530273,9374.929987,9375.474759,2.068151e+10,1.699888e+11,0.011406
max,58330.572142,55672.609513,57532.738864,57539.943668,3.509679e+11,1.072263e+12,0.371869

In [18]:
#looking at descriptive statistics for ether
ether_descriptive = ether.describe()
ether_descriptive

,High,Low,Open,Close,Volume,Marketcap
count,1885.000000,1885.000000,1885.000000,1885.000000,1.885000e+03,1.885000e+03
mean,287.676047,266.048742,277.361060,278.064271,5.850077e+09,2.907151e+10
std,325.383998,294.912770,311.369588,312.362349,8.260745e+09,3.386433e+10
min,0.954822,0.929835,0.933712,0.937124,2.060620e+05,7.117666e+07
25%,51.274502,48.297100,49.971401,50.037300,1.456020e+08,4.553738e+09
50%,206.361445,194.783997,200.608867,200.635000,2.208720e+09,2.089154e+10
75%,364.438995,341.416992,353.202267,353.362266,8.446546e+09,3.675680e+10
max,2036.286493,1896.684508,1959.902977,1960.164744,6.073363e+10,2.249103e+11

In [19]:
#looking at descriptive statistics for dogeoin
doge_descriptive = dogecoin.describe()
doge_descriptive

,High,Low,Open,Close,Volume,Marketcap
count,1885.000000,1885.000000,1885.000000,1885.000000,1.885000e+03,1.885000e+03
mean,0.003452,0.003017,0.003220,0.003242,1.481319e+08,3.925630e+08
std,0.007852,0.006236,0.006992,0.007055,9.963038e+08,9.029127e+08
min,0.000138,0.000134,0.000134,0.000135,4.147720e+04,1.379595e+07
25%,0.000483,0.000436,0.000453,0.000451,1.673200e+06,4.896589e+07
50%,0.002481,0.002327,0.002406,0.002409,1.699374e+07,2.886411e+08
75%,0.003244,0.003019,0.003134,0.003140,6.405696e+07,3.717361e+08
max,0.084945,0.068525,0.078773,0.078825,2.540331e+10,1.011246e+10